@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

#blob {
  filter: url(#noiseFilter);
  display: flex;
  place-items: center;
  position: relative;
  z-index: -10;
}

#blob::before {
  content: '';
  position: absolute;
  z-index: -10;
  height: 180px;
  width: 100%;
  background-image: conic-gradient(from 180deg at 50% 50%, #0c4a6e, #0141ff);
  opacity: 0.5;
  filter: blur(150px);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }

}

#wave path {
  stroke-dasharray: 620px;
  stroke-dashoffset: 620px;
  animation: line-anim 3s ease forwards infinite;
}