@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  /* all words lowercase; */
  /* text-transform: lowercase; */
}

#blob {
  filter: url(#noiseFilter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }

}

#wave path {
  stroke-dasharray: 620px;
  stroke-dashoffset: 620px;
  animation: line-anim 3s ease forwards infinite;
}